plugin_postgresql {
  connection {
    server = "127.0.0.1:54322"
    database = "postgres"
    username = "postgres"
    password = "postgres"
    ssl {
      enable = false
    }
    pool_size = 8
    health_check_interval = 30s
  }

  topics = [
    {
      name = telemetry_topic,
      filter = "/hygro/deviceTelemetry/#",
      table = "sensor_data"
    },
    {
      name = status_topic,
      filter = "/hygro/deviceStatus/#",
      table = "sensor_status"
    }
  ]
}
